name: Merge AI
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  deduplicate_and_remove_empty_lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get and merge domains from source files
        run: |
          {
           curl -sSfL "https://ruleset.skk.moe/List/non_ip/ai.conf" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/BaksiLi/rulesets/raw/033ddd631bfc1e5883b4b547f40b28f93f0fc496/surge/AI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/tutuh/script/raw/cbbba01fe56c7db1abfb0e5a0593d2abf9c4dcc8/Surge/Ruleset/AI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/blankmagic/surge/raw/2741d51076d1a11e2a8d1bdc3e7a1fdca2504dfc/rule/AI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/HotKids/Rules/raw/571a4c43e1392ad5981cceabf76657dc9a222fcc/Surge/RULE-SET/GenAI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://whatshub.top/rule/ai.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/geekdada/surge-list/raw/979502fc2db796147f3f8a82f0eabf3fc2c91953/ai.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/cutethotw/ClashRule/raw/refs/heads/main/Rule/Perplexity.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/cutethotw/ClashRule/raw/refs/heads/main/Rule/ChatGPT.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://github.com/just22tu/surfing/raw/refs/heads/main/rule/Shadowrocket/Surfing/AI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/OpenAI/OpenAI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Surge/Copilot/Copilot.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://raw.githubusercontent.com/Repcz/Tool/974e9a365c00bb30b00ee8054968047ea6072caa/Surge/Rules/AI.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://raw.githubusercontent.com/EAlyce/conf/main/Rule/ai.list" | awk '{print $0 "\n"}'
           curl -sSfL "https://raw.githubusercontent.com/ConnersHua/RuleGo/master/Surge/Ruleset/Extra/AI.list" | awk '{print $0 "\n"}'
          } | sed 's/ //g' | grep -v '^#' | grep -v '^$' | 
              sed 's/,no-resolve//g' | sed 's/#.*$//g' | 
              sed '/^IP-CIDR,2[6-9]/s/^IP-CIDR/IP-CIDR6/' |
              grep -Ev '^URL-REGEX|^PROCESS-NAME|^USER-AGENT|^IP-CIDR,13\.107\.0\.0/16' | 
              sort | uniq > Rule/OpenAI.list  # Deduplication moved to the end
      - name: Check and Configure Git
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          
      - name: Force add changes
        run: git add Rule/OpenAI.list || true
      - name: Commit and push changes if needed
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if ! git diff-index --quiet HEAD; then
            git commit -m "Auto Update OpenAI.list"
            git push origin HEAD:main --force
          else
            echo "No changes to commit"
          fi
